{% load embed_video_tags %}
<!DOCTYPE html>
<html>
    
<head>
   <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
 <style>
.button {
  display: inline-block;
  padding: 12px 23px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:white;
  background-color:#d1a128;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
}

.button:hover {background-color: #b5a5a5}

.button:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

</head>
  <body>
<button class="button"><a href="{% url 'logout'%}"style="color: white;">Logout</a></button>
    <h1>VI class English Student page</h1>
    <div class="container">
    {% for i in obj %}
    <br><br>{{i.title}}<br>
    {% video i.video %}
    {% endfor %}
</div>
  
</html>